@function rgb3($value) {
    @return unquote("rgb(#{$value}, #{$value}, #{$value})");
}

@function rgba3($value, $opacity: 1.0) {
    @return unquote("rgba(#{$value}, #{$value}, #{$value}, #{$opacity})");
}

@function hslToHsla($hsl, $opacity: 1.0) {
    $h: hue($hsl) / 1deg;
    $s: saturation($hsl);
    $l: lightness($hsl);
    @return unquote("hsla(#{$h}, #{$s}, #{$l}, #{$opacity})");
}

/**
 * Slightly lighten a color.
 *
 * @param  {Color}  $color
 * @param  {Number} $percentage
 * @return {Color}
 */
@function tint($color, $percentage) {
    // http://sass-guidelin.es/#lightening-and-darkening-colors
    @return mix(hsl(0, 0%, 100%), $color, $percentage);
}

/**
 * Slightly darken a color.
 *
 * @param  {Color}  $color
 * @param  {Number} $percentage
 * @return {Color}
 */
@function shade($color, $percentage) {
    // http://sass-guidelin.es/#lightening-and-darkening-colors
    @return mix(hsl(0, 0%, 0%), $color, $percentage);
}
