// [Variables] ----------------------------------------------------------------

// For lazy pixel math, the value of 1em in pixels, using a 16px base
$px_base: 16 !default;
$px:      1 / $px_base !default;
$px_em:   $px * 1em !default;
$px_rem:  $px * 1rem !default;

// Basic sizes
$page-max-width: 100%;
$border-line:    $px_rem !default;
$border-deco:    4 * $px_rem !default;
$border-radius:  2 * $px_rem !default;
$element-space:  4 * $px_rem !default;
$line-height:    1.6 !default;

// [Border box sizing] --------------------------------------------------------

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

// [Visibility imports] -------------------------------------------------------

@import "visibility/media";
@import "visibility/javascript";
@import "visibility/screen-readers";
@import "visibility/css";
