%extend-block {
    &:before, &:after {
        background-color: inherit;
        bottom: 0;
        content: '';
        position: absolute;
        top: 0;
        width: 9999px;
    }

    &:before {
        right: 100%;
    }

    &:after {
        left: 100%;
    }
}

%extend-block-left {
    &:before {
        background-color: inherit;
        bottom: 0;
        content: '';
        position: absolute;
        right: 100%;
        top: 0;
        width: 9999px;
    }
}

%extend-block-right {
    &:after {
        background-color: inherit;
        bottom: 0;
        content: '';
        left: 100%;
        position: absolute;
        top: 0;
        width: 9999px;
    }
}
