// [Borders] ------------------------------------------------------------------

@mixin border-horizontal($width, $style, $color) {
    border-left: $width $solid $color;
    border-right: $width $solid $color;
}

@mixin border-vertical($width, $style, $color) {
    border-bottom: $width $solid $color;
    border-top: $width $solid $color;
}

// [Border radii] -------------------------------------------------------------

@mixin border-top-radius($size)
{
    border-top-left-radius: $size;
    border-top-right-radius: $size;
}

@mixin border-right-radius($size)
{
    border-bottom-right-radius: $size;
    border-top-right-radius: $size;
}

@mixin border-bottom-radius($size)
{
    border-bottom-left-radius: $size;
    border-bottom-right-radius: $size;
}

@mixin border-left-radius($size)
{
    border-bottom-left-radius: $size;
    border-top-left-radius: $size;
}
