// Original source: http://lea.verou.me/css3patterns/

@mixin pattern_blueprint($color: $white, $background-color: #269, $color2: rgba($color, 0.3)) {
	background-color: $background-color;
	background-image:
		linear-gradient($color 2px, transparent 2px),
		linear-gradient(90deg, $color 2px, transparent 2px),
		linear-gradient($color2 1px, transparent 1px),
		linear-gradient(90deg, $color2 1px, transparent 1px);
	background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
	background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
}

@mixin pattern_carbon_fibre($color: $black, $background-color: #282828) {
	background-color: $background-color;
	background-image:
		radial-gradient($color 15%, transparent 16%) 0 0,
		radial-gradient($color 15%, transparent 16%) 8px 8px,
		radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
		radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
	background-size: 16px 16px;
}

@mixin pattern_marrakesh($color: rgb(25, 25, 112), $background-color: $white) {
	background-color: $background-color;
	background-image:
		radial-gradient($color 9px, transparent 10px),
		repeating-radial-gradient($color 0, $color 4px,transparent 5px, transparent 20px, $color 21px, $color 25px, transparent 26px, transparent 50px);
	background-position: 0 0;
	background-size: 30px 30px, 90px 90px;
}

@mixin pattern_checkerboard($color: $black, $background-color: $gray-e) {
	background-color: $background-color;
	background-image:
		linear-gradient(45deg, $color 25%, transparent 25%, transparent 75%, $color 75%, $color),
		linear-gradient(45deg, $color 25%, transparent 25%, transparent 75%, $color 75%, $color);
	background-position: 0 0, 30px 30px;
	background-size: 60px 60px;
}

@mixin pattern_checkerboard_diagonal($color: $black, $background-color: $gray-e) {
    background-color: $background-color;
    background-image:
        linear-gradient(45deg, $color 25%, transparent 25%, transparent 75%, $color 75%, $color),
        linear-gradient(-45deg, $color 25%, transparent 25%, transparent 75%, $color 75%, $color);
    background-size:60px 60px;
}

@mixin pattern_polkadot($color: $white, $background-color: rgb(0, 0, 17)) {
	background-color: $background-color;
	background-image:
		radial-gradient($color 15%, transparent 16%),
		radial-gradient($color 15%, transparent 16%);
	background-position: 0 0, 30px 30px;
	background-size: 60px 60px;
}

@mixin pattern_zigzag($color: rgb(236, 237, 220), $background-color: rgb(236, 23, 58)) {
	background-color: $background-color;
	background:
		linear-gradient(135deg, $color 25%, transparent 25%) -50px 0,
		linear-gradient(225deg, $color 25%, transparent 25%) -50px 0,
		linear-gradient(315deg, $color 25%, transparent 25%),
		linear-gradient(45deg, $color 25%, transparent 25%);
	background-size: 100px 100px;
}
