// Original source: https://css-tricks.com/examples/ShapesOfCSS/

// [Basic shapes] -------------------------------------------------------------

@mixin shape-rectangle($width, $height) {
	height: $height;
	width: $width;
}

@mixin shape-square($size) {
	@include shape-rectangle($size, $size);
}

@mixin shape-oval($width, $height) {
	border-radius: $width / 2 $height / 2;
	height: $height;
	width: $width;
}

@mixin shape-circle($size) {
	@include shape-oval($size, $size);
}

// [Triangle shapes] ----------------------------------------------------------

%shape-triangle-base {
	height: 0;
	width: 0;
}

@mixin shape-triangle-up($width, $color, $height: $width / 2) {
	@extend %shape-triangle-base;
	border-bottom: $width solid $color;
	border-left: $height solid transparent;
	border-right: $height solid transparent;
}

@mixin shape-triangle-down($width, $color, $height: $width / 2) {
	@extend %shape-triangle-base;
	border-left: $height solid transparent;
	border-right: $height solid transparent;
	border-top: $width solid $color;
}

@mixin shape-triangle-left($width, $color, $height: $width / 2) {
	@extend %shape-triangle-base;
	border-bottom: $height solid transparent;
	border-right: $width solid $color;
	border-top: $height solid transparent;
}

@mixin shape-triangle-right($width, $color, $height: $width / 2) {
	@extend %shape-triangle-base;
	border-bottom: $height solid transparent;
	border-top: $height solid transparent;
	border-left: $width solid $color;
}

@mixin shape-triangle-topleft($width, $color, $height: $width / 2) {
	@extend %shape-triangle-base;
	border-right: $width solid transparent;
	border-top: $width solid $color;
}

@mixin shape-triangle-topright($width, $color, $height: $width / 2) {
	@extend %shape-triangle-base;
	border-left: $width solid transparent;
	border-top: $width solid $color;
}

@mixin shape-triangle-bottomleft($width, $color, $height: $width / 2) {
	@extend %shape-triangle-base;
	border-bottom: $width solid $color;
	border-right: $width solid transparent;
}

@mixin shape-triangle-bottomright($width, $color, $height: $width / 2) {
	@extend %shape-triangle-base;
	border-bottom: $width solid $color;
	border-left: $width solid transparent;
}
