@mixin horizontal-margin($size) {
    margin-left: #{$size};
    margin-right: #{$size};
}

@mixin vertical-margin($size) {
    margin-bottom: #{$size};
    margin-top: #{$size};
}

@mixin horizontal-padding($size) {
    padding-left: #{$size};
    padding-right: #{$size};
}

@mixin vertical-padding($size) {
    padding-bottom: #{$size};
    padding-top: #{$size};
}
