// Heavily inspired by ZURB Foundation

// [Breakpoint sizes and ranges] ----------------------------------------------

$screen-size-medium:  640 * $px_em !default;
$screen-size-large:   1024 * $px_em !default;
$screen-size-xlarge:  1440 * $px_em !default;
$screen-size-xxlarge: 1920 * $px_em !default;

$screen-range-small:  (0, $screen-size-medium - $px_em) !default;
$screen-range-medium: ($screen-size-medium, $screen-size-large - $px_em) !default;
$screen-range-large:  ($screen-size-large, $screen-size-xlarge - $px_em) !default;
$screen-range-xlarge: ($screen-size-xlarge, $screen-size-xxlarge - $px_em) !default;
$xxlarge-range:       ($screen-size-xxlarge, 99999999 * $px_em) !default;

// [Media query shortcuts] ----------------------------------------------------

$screen: "only screen" !default;

$landscape: "#{$screen} and (orientation: landscape)" !default;
$portrait:  "#{$screen} and (orientation: portrait)" !default;

$small: "#{$screen} and (max-width: #{nth($screen-range-small, 2)})" !default;

$medium:      "#{$screen} and (min-width:#{nth($screen-range-medium, 1)}) and (max-width:#{nth($screen-range-medium, 2)})" !default;
$medium-up:   "#{$screen} and (min-width:#{nth($screen-range-medium, 1)})" !default;
$medium-down: "#{$screen} and (max-width:#{nth($screen-range-medium, 2)})" !default;

$large:      "#{$screen} and (min-width:#{nth($screen-range-large, 1)}) and (max-width:#{nth($screen-range-large, 2)})" !default;
$large-up:   "#{$screen} and (min-width:#{nth($screen-range-large, 1)})" !default;
$large-down: "#{$screen} and (max-width:#{nth($screen-range-large, 2)})" !default;

$xlarge:      "#{$screen} and (min-width:#{nth($screen-range-xlarge, 1)}) and (max-width:#{nth($screen-range-xlarge, 2)})" !default;
$xlarge-up:   "#{$screen} and (min-width:#{nth($screen-range-xlarge, 1)})" !default;
$xlarge-down: "#{$screen} and (max-width:#{nth($screen-range-xlarge, 2)})" !default;

$xxlarge: "#{$screen} and (min-width:#{nth($xxlarge-range, 1)})" !default;

$retina: (
    "#{$screen} and (-webkit-min-device-pixel-ratio: 2)",
    "#{$screen} and (min--moz-device-pixel-ratio: 2)",
    "#{$screen} and (-o-min-device-pixel-ratio: 2/1)",
    "#{$screen} and (min-device-pixel-ratio: 2)",
    "#{$screen} and (min-resolution: 192dpi)",
    "#{$screen} and (min-resolution: 2dppx)"
);
