$gray-0: hsl(0, 0%,   0%);
$gray-1: hsl(0, 0%,   7%);
$gray-2: hsl(0, 0%,  13%);
$gray-3: hsl(0, 0%,  20%);
$gray-4: hsl(0, 0%,  27%);
$gray-5: hsl(0, 0%,  33%);
$gray-6: hsl(0, 0%,  40%);
$gray-7: hsl(0, 0%,  47%);
$gray-8: hsl(0, 0%,  53%);
$gray-9: hsl(0, 0%,  60%);
$gray-a: hsl(0, 0%,  67%);
$gray-b: hsl(0, 0%,  73%);
$gray-c: hsl(0, 0%,  80%);
$gray-d: hsl(0, 0%,  87%);
$gray-e: hsl(0, 0%,  93%);
$gray-f: hsl(0, 0%, 100%);

$black:  $gray-0;
$white:  $gray-f;

$red:    hsl(0,   100%, 50%);
$green:  hsl(120, 100%, 50%);
$blue:   hsl(240, 100%, 50%);
