// Only show in print stylesheets
.print-only {
    @media screen, speech {
        display: none;
    }
}

// Hide in print stylesheets
.hide-for-print {
    @media print {
        display: none;
    }
}

// Only show in screen stylesheets
.screen-only {
    @media print, speech {
        display: none;
    }
}

// Hide in screen stylesheets
.hide-for-screen {
    @media screen {
        display: none;
    }
}

// Only show in speech stylesheets
.speech-only {
    @media print, screen {
        display: none;
    }
}

// Hide in speech stylesheets
.hide-for-speech {
    @media speech {
        display: none;
    }
}
