// Move text off screen
%text-off-screen {
    position: absolute;
    text-indent: -9999em;
    white-space: nowrap;
}

// Only display content to screen readers.
// Original source: Font Awesome project
.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    padding: 0;
    position: absolute;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    width: 1px;
}

// Use in conjunction with .sr-only to only display content when it's focused.
// Original source: Font Awesome project
.sr-only-focusable {
    &:active,
    &:focus {
        clip: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        position: static;
        width: auto;
    }
}
